BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
BreakBeforeBraces: Attach
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"mugen/'
    Priority: 1
  - Regex: '^".*\.h"'
    Priority: 2
  - Regex: '^<'
    Priority: 3
